node_modules
*.swp

# Editors
.idea
*.iml
.vscode/*
!.vscode/extensions.json

# Output
.output
/.svelte-kit
/build
.firebase
firebase-debug.log

# OS
.DS_Store
Thumbs.db

# Env
.env.local
.env.production

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
